<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="phone.vishnu.quotes">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		android:maxSdkVersion="28" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<application
		android:name=".controller.AppController"
		android:allowBackup="true"
		android:icon="@drawable/ic_quotes"
		android:label="@string/app_name"
		android:roundIcon="@drawable/ic_quotes_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<activity
			android:name=".activity.SplashActivity"
			android:exported="true"
			android:launchMode="singleTop"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
			</intent-filter>

			<meta-data
				android:name="android.app.shortcuts"
				android:resource="@xml/shortcuts" />
		</activity>

		<activity
			android:name=".activity.MainActivity"
			android:exported="false"
			android:launchMode="singleTop"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

		<activity
			android:name="com.yalantis.ucrop.UCropActivity"
			android:exported="false"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

		<activity
			android:name=".acra.ACRAErrorActivity"
			android:exported="true"
			android:parentActivityName=".activity.SplashActivity"
			android:screenOrientation="portrait">

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".activity.SplashActivity" />

		</activity>

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="${applicationId}.provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths" />
		</provider>

		<receiver
			android:name=".receiver.NotificationReceiver"
			android:enabled="true" />
		<receiver
			android:name=".receiver.StartupReceiver"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.QUICKBOOT_POWERON" />
			</intent-filter>
		</receiver>
		<receiver
			android:name=".receiver.QuoteWidget"
			android:exported="false">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="phone.vishnu.quotes.WIDGET_CLICK_LISTENER" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/quote_widget_info" />
		</receiver>
	</application>

</manifest>