name: Android Build

on: pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Set Up JDK Environment
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Spotless Test
        run: ./gradlew spotlessCheck --stacktrace

      - name: Gradle Build
        run: ./gradlew test --stacktrace
